

.title {
  text-align: center;
  font-family: vt323;
  color: aliceblue;
-webkit-font-smoothing : none;
  font-size: 5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  justify-content: center;
  align-items: center;
  margin: 15% 20% 10% 20%;
  gap: 20px;

}
.window {
  display: table-cell;
  padding: 50px;
  width: 90%;
}

