.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;

}

.second {
  margin-left: auto;
  margin-right: auto;
}
.third {
  margin-left: auto;
  margin-right: auto;
}
.forth {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
-webkit-font-smoothing : none;
}

.row {
  position: center;


}
.window {
  display: table-cell;
  vertical-align: m;
  padding: 20px;
}

