

.title {
  text-align: center;
  font-family: vt323;
  color: aliceblue;
-webkit-font-smoothing : none;
  font-size: 5rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 10%;
}
.window {
  display: table-cell;
  padding: 40px;
}

