:root {
  --primary-bg-color: #000000;
  --text-color: #ffffff;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #ffffff;
}
  
h1{
  font-size: 2rem;
}

  body,
  h1,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

body {
  /* changing the font to my preferred font */
  font-family: vt323;
  font-size: 1.2rem;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
    
/* Create a container for the main content */
.container {
  max-width: 1500px;
  width: 100%;
  padding: 10px;
}

/* video button styling at the start */
/* since the first video is the bulbasaur, 
I set the button to match with the video */
#first-video-btn{
  display: grid;
  justify-content: center;
  background-color: #53a352;
}
#first-video-img{
  grid-column: 1/2;
}

/* setting the other button as black to indicate
that it's not working right now */
#second-video-btn{
  display: grid;
  justify-content: center;
  background-color: #000000;
}
#second-video-img{
  grid-column: 2/3;
}

#third-video-btn{
  display: grid;
  justify-content: center;
  background-color: #000000;
}
#third-video-img{
  grid-column: 3/4;
}
 

/* Media player styling */
.media-player {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

/* using the grid to make the contents stay neatly in the box */
.media-player video {
  align-items: center;
  width: 100%;
  grid-column: 1/4;
  grid-row: 2/4;
}
  

/* controls button for the video */
/* i was going to put this vertically on the side of the video */
/* but putting them on top is easier to look and to click */
.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  gap: 5px;
  grid-row: 4/5;
  grid-column: 1/4;
  margin-bottom: 10px;
}

/* setting the button background colour to black
so that they match with the background */
.custom-controls button {
  background-color: #000000;
  color: var(--main-text-color);
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* styling the volume button so that they don't
overlay on anything else */
#decrease-volume-btn{
  padding-bottom: 15px;
  padding-left: 10px;
}
#increase-volume-btn{
  padding-bottom: 15px;
}

.progress-bar {
  width: 100%;
  height: 50px;
  background-color: #000000;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* using image as the progress bar to customise it with the theme*/
.progress-bar span {
  display: block;
  height: 100%;
  background-image: url("/ass2/img/bar3.png");
  width: 0;
  transition: width 0.3s ease;
  z-index: 3;
}
  
/* title for each video */
/* also making the font bigger to read easier */
.video-title{
  font-size: 2rem;
  margin-top: 3%;
}
  
/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
} 
  