button {
    background-color: rgb(255, 145, 0);
}

h1 {
    font-size: 2rem;
    font: weight 4p;
    text-transform: uppercase;
  
    font-family: pixelify sans;
    text-align: center;
}

body{ 
    background-position: cover ;
    background-color: rgb(8, 7, 6);
}

*{
    color: rgb(255, 255, 255);
    font-family: vt323;
    font-size: 1.2rem;
}

header{
    position: sticky;
}



.scrolling {
    display:grid;
    position:relative;
    overscroll-behavior-inline: contain;
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position:absolute;
    width:100vh;
    height:90vw;
    &::-webkit-scrollbar {
        display: none;
    }}
   
     
.scrolling > div {
    position: relative;
    width: 1024px;
    height: 737px ;
    gap: 50px;
    flex: 0 0 auto;
    padding: 100px 450px 100px 450px;
    border: 2px solid black ;
    margin-bottom: 51%;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;

    }


.side1{ 
    background-image: url(../week2/img/bg.png);   
    background-size: contain;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto ;
}
.side2{ 
    background-image: url(../week2/img/bg.png);
    background-size: contain;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;

}
.side3{ 
    background-image: url(../week2/img/bg.png);
    background-size: contain;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
}
.side4{ 
    background-image: url(../week2/img/bg.png);
    background-size: contain;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
}

.footer{
    display: flex;
}


  
