.button {
    color: aquamarine;
}

h1 {
    font-size: 2rem;
    font: weight 4p;
    text-transform: uppercase;
    padding: 30px;
    font-family: pixelify sans;
    text-align: center;
}

body{
    background-color: rgb(227, 216, 177);
}

*{
    color: rgb(0, 0, 0);
    font-family: vt323;
    font-size: 1.2rem;
}



.scrolling {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }}
  
.q1,.q2,.q3,.q4,.q5,.q6,.q7,.q8{
    display: inline-block;
    width: 500px;
    flex: 0 0 auto;
    padding: 100px;
    border: 2px solid ;
    
    align-items: center;
}


  
