.button {
    color: aquamarine;
}

h1 {
    font-size: 2rem;
    font: weight 4p;
    text-transform: uppercase;
    padding: 30px;
    font-family: pixelify sans;
    text-align: center;
}

*{
    color: rgb(0, 0, 0);
    font-family: vt323;
    font-size: 1.2rem;
}