


.laptop{
    position: fixed;
    height: 100vh ;
    margin-left: 11.58%;
    
}

body{
    background-color: #dda546;
    overflow: hidden;
    
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.58;
    transform:translateY(-26%) translateX(-0.6%) ;
    overflow: hidden;
    background-color: black;
    ::-webkit-scrollbar{
        display:non3;
    }
}

#back {
    z-index: 3;
    margin: 41.5% 0 0 35%;
    position: fixed;
    display: flex;
}