
/* specific style for the whole page*/

*{
    color: rgb(226, 233, 232);
    font-family: vt323;
    font-size: 1.5rem;
}

.all {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/week3/img/bluesky.jpeg);
    background-size:cover;
    
}

.content {
    width: 90%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,0.2fr);
    gap: 10px;
    border: 5px solid rgb(23, 103, 144);
}
.header{
    text-transform: uppercase;
    border: 2px solid;
    border-color: rgb(23, 103, 144);
    background-color: rgb(23, 103, 144);
    grid-column: 1/5;
    padding-left: 35%;
}

h1{
    margin-left: 2%;
}

h2 {
    font-family: vt323;
    font-size: 1.5rem;
    color: black ;
 }

 h3{
    font-family: vt323;
    font-size: 1.2rem;
    color: rgb(45, 45, 45) ;
 }

a:hover{
    background-color: rgb(255, 181, 106);
    border: 3px solid rgb(255, 181, 106);
    color: rgb(16, 26, 50);
}

 /* .laptop{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
 } */

#q9{
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
    margin: 0 5% 0 25%;
    align-items: center;  
    padding: 5% 5% 0 10%;
}
#phone{
    border: 5px solid rgb(23, 103, 144);
    grid-column: 3/5;
    grid-row: 2/3;
    margin: 20% 0 0 0;
    max-width: 500px;
}
#q10{
    grid-column: 1/5;
    grid-row: 3/4;
    margin: 0 10% 0 10%;
}
#hi{
    grid-column: 2/4;
    grid-row: 4/5;
    max-width: 670px;
    border: 5px solid rgb(23, 103, 144);
    margin-left: 20%;
}
#q11{
    grid-column: 1/3 ;
    grid-row: 5/6 ;
    margin: 5% 0 5% 10%;;
}
#ani{
    grid-column: 3/5;
    grid-row: 5/6;
    border: 5px solid rgb(23, 103, 144);
    margin: 5% 0 0 0 ;
}
#q12{
    grid-column: 3/5 ;
    grid-row: 6/7;
    margin: 5% 10% 5% 5% ;
}
#lag{
    grid-column: 1/3;
    grid-row: 6/7;
    border: 5px solid rgb(23, 103, 144);
    margin: 5% 0 0 10%;
}
#q13{
    grid-column: 2/4 ;
    grid-row: 7/8;
}
#hand{
    grid-column: 2/4;
    grid-row: 8/9;
    border: 5px solid rgb(23, 103, 144);
    width: 1000px;
}